/* Import Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* --------- */
/* Variables */
/* --------- */

:root{
  /* Text */
  --text-color:#1A1A1A;
  --secondary-text-color: #777777;
  --highlight-text-color:#00b7ff;

  /* Background */
  --body-bright-color:#FFFFFF;
  --body-dim-color: #F2F2F2;

  /* Accents */
  --accent-blue-color: #57BEF9;
  --accent-hover-blue-color: #6FD4FF;

  /* Font Size */
  --x-sm-font-size: 13px;
  --sm-font-size: 14px;
  --md-font-size: 16px;
  --lg-font-size: 20px;
  --xl-font-size: 24px;
  --xxl-font-size: 28px;

  /* Border Radius */
  --x-sm-border-radius: 6px;
  --sm-border-radius: 8px;
  --md-border-radius: 12px;
  --lg-border-radius: 16px;
  --xl-border-radius: 20px;

  /* Horizontal Line*/
  --hr-color: #b4b4b4;
}

/* ------- */
/* General */
/* ------- */
body{
  background-color: var(--body-bright-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--md-font-size);
  color: var(--text-color);
}

strong {
  color:inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
  a:hover {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  a:focus {
    outline: none;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: 900;
}

hr {
  border-color: var(--hr-color);
}

/* ----- */
/* Text */
/* ----- */

/* Weights */
.W100{
  font-weight: 100;
}
.W300{
  font-weight: 300;
}
.W400{
  font-weight: 400;
}
.W500{
  font-weight: 500;
}
.W700{
  font-weight: 700;
}
.W900{
  font-weight: 900;
}

/* Size */
.text-sm {
  font-size: var(--sm-font-size);
}
.text-md {
  font-size: var(--md-font-size);
}
.text-lg {
  font-size: var(--lg-font-size);
}
.text-xl {
  font-size: var(--xl-font-size);
}
.text-xxl {
  font-size: var(--xxl-font-size);
}

/* Color */
.text-secondary{
  color: var(--secondary-text-color);
}
.text-blue{
  color: var(--accent-blue-color);
}

/* Line Height */
.normal-line-height{
  line-height: normal;
}
.md-line-height{
  line-height: 1.15;
}
.bg-line-height{
  line-height: 1.5;
}


/* -------- */
/* Side Bar */
/* -------- */

/* Sidebar */
#view {
  overflow-x: hidden;
}

#sidebar {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.4s ease-out;
  min-width: 15rem;
}

/*
#sidebar .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
*/

#content {
  min-width: 100vw;
}

body.sb-sidenav-toggled #view #sidebar {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 0;
  }

  #content {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #view #sidebar {
    margin-left: -15rem;
  }
}


/* ------- */
/* Buttons */
/* ------- */
.btn{
  border-radius: var(--md-border-radius);
  padding: 12px 14px 12px;
  font-weight: 700;
  font-size: var(--md-font-size);
  text-align: center;
  line-height: normal;
}

.btn-toggle {
  position: absolute;
  background-color: var(--accent-blue-color);

  border-radius: 100%;
  color: white;
  top: 20px;
  right: 20px;
}
  .btn-toggle:hover{
    background-color: var(--accent-hover-blue-color);
    color: white;

    transition: 500ms;
  }

.btn-sidebar{
  display: block;
  padding: 16px 18px;
  border-radius: 400px;
  font-size: var(--lg-font-size);

  color: var(--text-color);
  font-weight: 900;
}
  .btn-sidebar:focus{
    background-color: var(--accent-blue-color);
  } 
  .btn-sidebar:hover{
    background-color: var(--body-dim-color);
  }

.btn-sidebar-clicked{
  display: block;
  padding: 16px 18px;
  border-radius: 400px;
  font-size: var(--lg-font-size);

  color: white;
  background-color: var(--accent-blue-color);
  font-weight: 900;
}

/* ------------------ */
/* Social Media Icons */
/* ------------------ */
.profile-picture{
  width: 10rem;
  border-radius: 100%;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
}
.icon-youtube {color:#FF0000;}

.icon-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-twitter {color:#1DA1F2;}
.icon-linkedin {color:#0072b1;}
.icon-github {color:#171515;}